@model SHOPTHL.Data.Baiviet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Xóa bài viết </h1>

<h3>Bạn chắc chắn xóa bài viết này ?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên bài viết
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenbaiviet)
        </dd>
        <dt class = "col-sm-2">
           Nội dung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt class = "col-sm-2">
            Hình ảnh
        </dt>
        <dd class = "col-sm-10">
            <img src="/images/Blog/@Model.Hinhanh" alt="IMG-BLOG" asp-append-version="true" width="64px" height="64px">
        </dd>
        <dt class = "col-sm-2">
            Ngày đăng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaydang)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Mabaiviet" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Trở về trang danh sách</a>
    </form>
</div>
