@model SHOPTHL.Data.Sanpham

@{
    ViewData["Title"] = "Create";
    Layout = "_Admin";
}

<h1>Thêm sản phẩm mới</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tensp" class="control-label">Tên sản phẩm</label>
                <input asp-for="Tensp" class="form-control" />
                <span asp-validation-for="Tensp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dongia" class="control-label">Đơn giá</label>
                <input asp-for="Dongia" class="form-control" />
                <span asp-validation-for="Dongia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maloai" class="control-label">Loại sản phẩm</label>
                <select asp-for="Maloai" class="form-control" asp-items="ViewBag.Maloai"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label">Mô tả ngắn</label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Magiamgia" class="control-label">Phần trăm giảm giá</label>
                <select asp-for="Magiamgia" class="form-control" asp-items="ViewBag.Magiamgia"></select>
            </div>
            <div class="form-group">
                <label asp-for="Math" class="control-label">Tên thương hiệu</label>
                <select asp-for="Math" class="form-control" asp-items="ViewBag.Math"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mancc" class="control-label">Tên nhà cung cấp</label>
                <select asp-for="Mancc" class="form-control" asp-items="ViewBag.Mancc"></select>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh" class="control-label">Hình ảnh</label>
                <br />
                <input asp-for="Hinhanh" accept="image/*" type="file" />
                <span asp-validation-for="Hinhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh1" class="control-label">Hình ảnh 1</label>
                <br />
                <input asp-for="Hinhanh1" accept="image/*" type="file" />
                <span asp-validation-for="Hinhanh1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh2" class="control-label">Hình ảnh 2</label>
                <br />
                <input asp-for="Hinhanh2" accept="image/*" type="file" />
                <span asp-validation-for="Hinhanh2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh3" class="control-label">Hình ảnh 3</label>
                <br />
                <input asp-for="Hinhanh3" accept="image/*" type="file" />
                <span asp-validation-for="Hinhanh3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bangsize" class="control-label">Bảng size</label>
                <br />
                <input asp-for="Bangsize" accept=".pdf,.doc,.docx" type="file" />
                <span asp-validation-for="Bangsize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm sản phẩm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Trở về trang danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}