@{
    Layout = "Dangnhap";
}

<form asp-action="Register" asp-controller="Taikhoans">
    <h1 class="h4 text-gray-900 mb-4">Đăng kí tài khoản</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">Tên đăng nhập</label>
        <input type="text" class="form-control" name="Tendangnhap">
        <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẻ nó cho bất kỳ ai khác</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Mật khẩu</label>
        <input type="password" class="form-control" name="Matkhau">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Xác nhận lại mật khẩu</label>
        <input type="password" class="form-control" name="Matkhau">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Lưu tài khoản</label>
    </div>
    <input type="hidden" name="Chucvu" value="Guest">
    <button type="submit" class="btn btn-primary">Đăng kí</button>

</form>
