@model IEnumerable<SHOPTHL.Data.Danhgium>
@{
    ViewData["Title"] = "Danhgiatheomasp";
    Layout = "~/Views/Shared/ChitietSp.cshtml";
}

<h1>Danhgiatheomasp</h1>
@foreach (var item in Model)
{
    <div class="flex-w flex-t p-b-68">
        <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
            <img src="images/avatar-01.jpg" alt="AVATAR">
        </div>

        <div class="size-207">
            <div class="flex-w flex-sb-m p-b-17">
                <span class="mtext-107 cl2 p-r-20">
                    @item.MakhNavigation.Tenkh
                </span>

                <span class="fs-18 cl11">
                    @for (int i = 0; i < item.Diemdanhgia; i++)
                    {
                        <i class="zmdi zmdi-star"></i>
                    }
                </span>
            </div>

            <p class="stext-102 cl6">
                @item.Loidanhgia
            </p>
        </div>
    </div>
}
